.bungee-tint-regular {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.luxurious-roman-regular {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
}

.sticky-top {
  background-color: rgb(0, 51, 99);
}


body {
  background-color: rgb(0, 51, 99);
  color: rgb(30, 208, 11)
}

.bg-image-desk {
  background-image: url(Image1-desk.avif);
  background-position: center;
  background-size: cover;
}

.bg-RC {
  background-color: rgb(12, 12, 12);
  color: red;
}

.nav-image {
  width: 15%;
  border: solid;
  border-radius: 50%;
  border-color: indigo;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.magic-card-wrapper {
  position: relative;
}

.magic-card {
  background-color: rgb(12, 12, 12);
  color: indigo;
  position: relative;
}

@media (min-width: 769px) {
  .magic-card {
    background-color: rgb(12, 12, 12);
    color: red;
    position: absolute;
    top: 80px;
    left: 40px;
    right: 40px;
  }
}

.dino-crossing {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 650px;
}

.bg-map-image {
  background-image: url(map1.avif);
  background-position: center;
  background-size: cover;
  min-height: 65vh;

}

.card-section {
  width: 100%;
  justify-content: center;
  align-content: center;
}

.card {
  border: solid;
}

.small-video {
  width: 100%;
}